{% extends 'system/base.html' %}
{% block body %}
    {% for doc in list %}

        <div class="col-md-3 photos">
            <img src="http://polki.pl/foto/16_9_LARGE_0200/lekarz-w-nocy-178801.jpg" class="photo"  style="width: 320px;height: 200px ">
        </div>
        <div class="col-md-push-12 details" style="padding-bottom: 70px"  >
            <h2> {{ doc.name }} {{ doc.surname }}</h2>
            <h2> Specjalizacja: {{ doc.specialization }} </h2>
            <a class="btn btn-default btn-lg" shape="icon__calendar">
                <i class="svg-icon svg-icon__calendar svg-icon__size-24"></i>
                Sprawdz terminy
            </a>
        </div>

    {% endfor %}

{% endblock %}