{% extends 'system/base.html' %}
{% block body %}
    <section class="background">
    </section>

    <div class="container-fluid">
        <div class="row1">
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Najnowsze opinie:</h3>
                        {% for opinion in opinions %}
                            <div class="post">
                                <p>published: {{ opinion.published_date }}</p>
                                <h1><a href="{% url 'system:doctor_list'  %}">{{ opinion.lekarz }}</a></h1>
                                <p>{{ opinion.opis|linebreaksbr }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <div class="col-sm-12 col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Zadane pytania:</h3>
                {% for question in questions %}
                    <div class="post">
                        <p>published: {{ question.published_date }}</p>
                        <h1>{{ question.title }}</h1>
                        <p>{{ question.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}