{% extends 'system/base_visitor.html'%}
{% block register_active %}active{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row1">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Rejestracja pacjent:</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'system/form_patient.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Potwierdź</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  <div class="col-sm-12 col-md-5">
      <div class="panel panel-default">
          <div class="panel-body">
              <h3>Czym jest Znana przychodnia?</h3>
              <p>Jest to serwis umożliwiający rejestrację pacjentów do wybranych przez siebie lekarzy, którzy są użytkownikami naszego serwisu.</p>
              <h3>Jak się zarejestrować?</h3>
              <p>Jeżeli jesteś pacjentem wybierz rejestrację dla pacjenta, jeżeli lekarzem wybierz dla lekarza.</p>
              <h3>Kim jestes?</h3>
              <a href="{% url 'system:rejestracja_lekarz' %}">
                    <button type="button" class="btn btn-primary">Lekarzem</button>
              </a>
              <a href="{% url 'system:rejestracja_pacjent' %}">
                    <button type="button" class="btn btn-secondary">Pacjentem</button>
              </a>
          </div>
      </div>
    </div>
</div>
{% endblock %}